.headstyle {


    padding: 12px 20px;
    background: #ff0051;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;

}

.pcontainer{
    padding: 12px 20px;
    background: #00ff99;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-left: -3%;

  }

  .pcontainer:hover{
    background: #00ff9996;

  }