
.Order-Row {
    display: table;
    width: 80%; /*Optional*/
    border-spacing: 10px; /*Optional*/
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #e6b619;
    
  }
  
  .orders-container{
    outline: none;
    display: table-cell;
    width: 200px;
    height: 100px;
  }
  
  .orders-container .order-row{
    outline: solid;
    border-radius:10px;
    outline-width: 1px;
  
  }
  
  .order-column{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }
