
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.checkout-wholepage{
    background-image: url(bookshelfforcheckout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.checkout-container{
    border: none;
    outline: none;
    margin: 0.5rem;
    padding: 2rem 2rem;
    text-align: center;
}


/* Personal Information Div */
.personalinfo-container{
    background-color: white;
    padding-top: 10px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 40px;
    outline: none;
    outline-width: 2px;
    outline-offset: 25%;
    width: 350px;
    height: 1050px;
    border-radius: 10px;
    
}

/*Name Entry Div */
.name{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.name h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.name .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}


/* Surname Entry Div */
.surname{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.surname h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.surname .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Username Entry Div */
.email{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.email h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.email .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}


/* Phone Number Entry Div */
.phonenumber{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.phonenumber h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.phonenumber .number{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

/*Country Entry Div */
.country{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.country h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.country .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

/*Province Entry Div */
.province{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.province h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.province .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

/*City Entry Div */
.city{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.city h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.city .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

/*Address Entry Div */
.addressline{
    outline: none;
    outline-width: 2px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.addressline h{
    padding-right: 110px;
    font-family: 'Open Sans';
}

.addressline .text{
    width: 200px;
    height: 24px;
    text-size-adjust: auto;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}




/* Checkout Button Div */
.checkout-button input{
    width: 240px;
    border-radius: 25px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    transition-duration: 0.3s;
    background-color: rgb(80, 200, 247);
    font-weight: bold;
    border: hidden;
    outline: solid;
    margin-left: 40%;
}

.checkout-button input:hover{
    background-color: rgba(255, 255, 255, 0.438);
    color: black;
}


