.Rowx {
    display: table;
    width: 80%; /*Optional*/
    border-spacing: 10px; /*Optional*/
    outline: none;
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #e6b619;
    
  }

.product-row .product-container{
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    background-color: rgb(228, 210, 186);
    outline-color: goldenrod;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

  }

.checkout-container{
    outline: none;
    display: flex;
    border: none;
    padding: 0%;
    margin-left: 25px;

  }
.products-container{
    outline: none;
    display: table-cell;
    width: 100px;
    height: 100px;

}


.totalcheckout-container{
    outline: solid;
    display: table-cell;
    width: 50px;
    height: 50px;
}


.itemimage{
    width: 50px;
    height: 65px;
    border-radius: 5px;
}